@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
html, body {
    margin: 0;
    padding: 0;
}
body {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito';
}
h1 {
    font-size: 17.6px;
}

.container {
	padding: 32px;
	background: #5801CB;
	width: 50%;
}

.form-container {	
    padding: 32px;
}

.input-container {
    display: flex;
}

label {
    display: block;
    font-size: 17.6px;
    margin-bottom: 12.8px;
}
input[type=text]{
    width: 90%;
    padding: 8px;
}
input[type=submit] {
    padding: 8px;
    font-size: 14.4px;
    background: none;
    border: 1px solid white;
    color: white;
    margin-left: 30px;
    cursor: pointer;
}


